
<h3>Turnauslistaus</h3>

<ul class="nav nav-tabs">
  <li class="active"><a href="/">Turnauksen valinta</a></li>
  <li class="disabled"><a href="/">Turnauksen tiedot</a></li>
</ul>
<div class="container">
	<div id="tournaments" ng-show="tournamentsModel.tournaments.length !== 0" class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Turnauksen nimi</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tournament in tournamentsModel.tournaments">
					<td ng-click="tournamentInformation(tournament.id)">{{tournament.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>

    <div ng-if="tournamentsModel.tournaments.length == 0" class="form-inline">
        <input type="text" class="form-control" ng-model="tournamentName" >
        <button class="btn btn-default" ng-click="createNewTournament(tournamentName)">Luo turnaus</button>
    </div>

</div>

