

<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <form name="newItemForm">
    {{item}}
    <div class="row">
      <div class="six columns">
        <label for="title">Title*</label>
        <input name="title" class="u-full-width" ng-model="item.title" type="text" id="title" required/>
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <label for="price">Price*</label>
        <input name="price" class="u-full-width" ng-model="item.price" min="0" type="number" id="price" placeholder="€" required/>
      </div>

      <div class="three columns">
        <label>Image</label>
        <div class="button" ng-file-select ng-model="item.img">upload image</div>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="description">Description</label>
        <textarea name="description" class="u-full-width" ng-model="item.description" id="description" placeholder="Describe your item"/>
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <h5>Contact information</h5>
        <label for="phone">Phone number</label>
        <input name="phone" class="u-full-width" ng-model="item.phone" type="text" id="phone" />
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <label for="email">Email</label>
        <input name="email" type="email" minlength="5" maxlength="100"class="u-full-width" ng-model="item.email" id="email"/>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="six columns">
      <button ng-click="return()">Return</button>
      <button ng-disabled="!newItemForm.$valid" ng-click="preview()">Preview</button>
      <button ng-disabled="!newItemForm.$valid && !(newItemForm.phone.$viewValue || newItemForm.email.$viewValue)" ng-click="publish()">Publish</button>
    </div>
  </div>

  <div ng-if="toggleReview" class="row">
    <div class="six columns">
      <market-ad data="item"></market-ad>
    </div>
  </div>

</div>
