<div class="row">
	<h3>Turnaus: {{tournamentModel.tournament.name}}</h3>
</div>

<ul class="nav nav-tabs">
  <li><a href="/">Turnauksen valinta</a></li>
  <li class="active"><a ng-href="/#/tournament/{{tournamentModel.tournament.id}}/match">Turnauksen tiedot</a></li>
</ul>


<div class="row">

    <button class="btn btn-default" ng-click="toggleMatchForm()">Lisää ottelutulos</button>
    <div class="slide matchInformation" ng-if="showMatchForm" ng-include="'views/match/match.html'"></div>


    <h3>Pistetilanne</h3>
	<div class="col-sm-12 col-md-12">



		<!--
		pistetilanteen paremmuusjärjestys: 
		suuruusjärjestyksessä pisteet, voitetut ottelut, tehdyt maalit
		pienempi parempi: hävityt ottelu, päästetyt maalit
		-->
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Sija</th>
					<th>Pelaaja</th>
					<th>Pisteet</th>
					<th>Voitot</th>
					<th>Tappiot</th>
					<th>Tehdyt maalit</th>
					<th>Päästetyt maalit</th>
				</tr>
			</thead>
			<tbody >
				<tr ng-repeat="stat in tournamentModel.statistics">
					<td>{{$index + 1}}</td>
					<td>{{stat.playerName}}</td>
					<td>{{stat.points}}</td>
					<td>{{stat.wins}}</td>
					<td>{{stat.losses}}</td>
					<td>{{stat.pointsScored}}</td>
					<td>{{stat.pointsAgainst}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-sm-12 col-md-12">
		<h3>Ottelutulokset</h3>	

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Ottelu</th>
					<th>Pelaajat</th>
					<th>Erä 1</th>
					<th>Erä 2</th>
					<th>+ / -</th>
					<th>Pisteet</th>
				</tr>
			</thead>
			<tbody ng-repeat="match in tournamentModel.matches">
				<tr>
					<td rowspan="2">{{$index + 1}}</td>
					<td>{{match.bluePlayerName}}</td>
					<td>{{match.periods[0].bluePlayerScore}}</td>
					<td>{{match.periods[1].bluePlayerScore}}</td>
					<td>{{match.bluePlayerPointsScored}} / {{match.pinkPlayerPointsScored}}</td>
					<td>{{match.bluePlayerPeriodsWon}}</td>
				</tr>
				<tr>
					<td>{{match.pinkPlayerName}}</td>
					<td>{{match.periods[0].pinkPlayerScore}}</td>
					<td>{{match.periods[1].pinkPlayerScore}}</td>
					<td>{{match.pinkPlayerPointsScored}} / {{match.bluePlayerPointsScored}}</td>
					<td>{{match.pinkPlayerPeriodsWon}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

