body {
  margin: 2rem;
}

.ng-valid {
  border: 1px solid green;
}
.ng-invalid {
  border: 1px solid red;
}
.ng-pristine {
  border: 1px solid #999;
}
.messages {
  margin: 1rem 0 1rem 0;
  height: 350px;
  overflow-y: scroll;
  border: 1px solid #999;
  padding: 4px;
  max-width: 1024px;
}
